/* Basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(209, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* Screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen-active{
    display: block;
}

/* Start Screen */
#start-screen h1{
    color: hsl(235, 80%, 70%);
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.quiz-header{
    margin-bottom: 2rem;
    
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-btn{
    background-color: hsl(230, 80%, 85%);
    color: #333;
    border: 2px solid hwb(209 50% 34%);
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.4s;}

.answer-btn:hover{
    opacity: 80%;
    background-color: hsl(209, 100%, 96%);
    border-color: gainsboro;
}
.answer-btn.correct{
    background-color: #e6ff60;
    color: #28a745;
    border-color: #a3f0c4;
}
.answer-btn.incorrect{
    background-color: #fff0f0;
    color: #dc3545;
    border-color: #ffbdbd;
}
