*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
            background-color:hsl(209, 100%, 96%);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 1rem;
            font-family: sans-serif;
        }

        .container{
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            width: 100%;
            max-width: 600px;
            overflow: hidden;
            position: relative;
        }

        /* Screens */
        .screen{
            flex: 1;
            display: none;
            padding: 2rem;
        }

        .screen-active{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            min-height: 400px;
        }

        /* Start Screen */
        #start-screen h1{
            color: hsl(235, 80%, 70%);
            margin-bottom: 20px;
            font-size: 2.5rem;
            width: 100%;
        }

        #start-screen p{
            color: #666;
            margin-bottom: 20px;
            font-size: 1.1rem;
            width: 100%;
        }

        .start-btn {
            background-color: hsl(235, 80%, 70%);
            color: white;
            border: none;
            border-radius: 10px;
            padding: 15px 30px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: all 0.4s ease;
            margin-top: 10px;
        }

        .quiz-header{
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;
        }

        #question-text{
            color: #333;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            line-height: 1.4;
            width: 100%;
        }

        .quiz-info{
            display: flex;
            justify-content: space-between;
            color: #666;
            margin-bottom: 10px;
            width: 100%;
        }

        .answers-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            width: 100%;
        }

        .answer-btn{
            background-color: hsl(230, 80%, 85%);
            color: #333;
            border: 2px solid hwb(209 50% 34%);
            border-radius: 8px;
            padding: 1rem;
            cursor: pointer;
            text-align: left;
            transition: all 0.4s;
        }

        .answer-btn:hover{
            opacity: 80%;
            background-color: hsl(209, 100%, 96%);
            border-color: gainsboro;
        }
        .answer-btn.correct{
            background-color: #e6ff60;
            color: #28a745;
            border-color: #a3f0c4;
        }
        .answer-btn.incorrect{
            background-color: #fff0f0;
            color: #dc3545;
            border-color: #ffbdbd;
        }

        .progress-bar{
            height: 10px;
            background-color: #e5eef8;
            border-radius: 5px;
            overflow: hidden;
            margin-top: 20px;
            width: 100%;
        }

        .progress{
            height: 100%;
            background-color: hsl(235, 80%, 70%);
            width: 0%;
            transition: width 0.3s ease;
        }

        /* RESULT SCREEN */
        #result-screen {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #result-screen h1{
            color: hsl(235, 80%, 70%);
            margin-bottom: 30px;
            width: 100%;
        }

        .result-info{
            background-color: #e5eef8;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 30px;
            width: 100%;
        }

        .result-info p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 100%;
        }

        #results-message{
            font-size: 1.5rem;
            font-weight: 600;
            color: hsl(235, 80%, 70%);
            width: 100%;
            margin-bottom: 20px;
        }

        #restart-btn {
                background-color: hsl(235, 80%, 70%);
                color: white;
                border: none;
                border-radius: 10px;
                padding: 15px 30px;
                font-size: 1.1rem;
                cursor: pointer;
                display: block;
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 20px;
                cursor: pointer;
                transition: all 0.4s ease;
        }

        button:hover{
            opacity: 90%;
            background-color: hsl(235, 86%, 60%);
        }

        /* RESPONSIVE DESIGN */
        @media (max-width:500px){
            .screen{
                padding: 1rem;
            }
            #start-screen h1{
                font-size: 2rem;
            }
            #question-text{
                font-size: 1.3rem;
            }
            .answer-btn{
                padding: 12px;
            }
            button{
                padding: 12px 25px;
                font-size: 1rem;
            }
        }